<% title @post.title %>
<h4>by <%= @post.user.email %></h4>

<div><%= @post.body %></div>

<div class="actions">

  <% if can? :manage, @post %>
    <%= link_to "Edit", edit_post_path(@post) %> |
    <%= link_to "Destroy", @post, :confirm => 'Are you sure?', :method => :delete %> |
  <% end %>

  <%= link_to "View All", posts_path %>
</div>
