<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

          <%= link_to 'Blogger', root_path, :class => 'brand' %>

          <ul class="account-nav nav pull-right">
            <% if user_signed_in? %>

              <li class="navbar-text">Signed in as <%= current_user.email %></li>
              <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>

              <% if current_user.admin? %>
                <li><%= link_to 'Admin', rails_admin_path %></li>
              <% end %>

            <% else %>
              <li><%= link_to 'Sign in', new_user_session_path %></li>
              <li><%= link_to 'Sign up', new_user_registration_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">

        <% flash.each do |message_type, message| %>
          <%= content_tag :div, message, :class => alert_classname_for_flash(message_type) %>
        <% end %>

        <%= content_tag :h1, yield(:title), class: 'page-header' if show_title? %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
